.box-1{
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 2rem;
}
/* relative 포지션 */
/* 기본적으로는 static 처럼 배치 */
/*  이동 속성 (top, left, right, bottom)을 부여 */
/* 이동의 기준은 우너래 위치를 기준 */
.relative{
  position: relative;
}

.left-10{
  /* 왼쪽을 기준으로 10px 이동 */
  left: 50px;
  top: 100px
}
